<h1>Plataformas</h1>
<ul>
  <li *ngFor="let p of plataforma.plataformas">
    
        {{ p.nome }}
        <br>
        {{ replaceText(p.descricao) }}
        <br>
        <button (click)="saveOnLocalStorage(p.sku)">
          Quero Esse
        </button>
  </li>
</ul>
